*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 1208px;
    height: 550px;
    border: 4px solid black;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 0px 60px; */
}
.child{   
    height: 200px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child-1{
    background-color: lightcoral;
    /* order: 3; */
    flex-grow: 2;
    flex-shrink: 20;
}
.child-2{
    
   /* flex-basis: 300px; */
    background-color: lightgreen;
    /* order: 2; */
   flex-grow: 1.5;
   flex-shrink: 10;
}
.child-3{
    width: 100px;
    background-color:magenta;
    /* order: 1; */    
}
