*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 1100px;
    height: 600px;
    border: 3px solid black;
    position: relative;
}

.card{
    width: 350px;
    height: 450px;    
    position: absolute;
    transition: all 0.5s ease-in-out;    
}
.card-1{
    height: 320px;
    background-color: red;
    top: 50%;
    left: 59%;
    transform: translate(-50%,-50%);      
}
.card-2{
    height: 380px;
    background-color: blue;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);

}
.card-3{
    background-color: magenta;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


