@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 150px;
}
header .logo{
    color: white;
    font-size: 32px;
}
header nav{
    display: flex;
    gap: 20px;
}
header nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 30px;
}
section{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: linear-gradient(#ff8fab,#64b5f6);
    display: flex;
    align-items: center;
    justify-content: center;
}
section h1{
    color: white;
    font-size: 75px;
}
/* Overlay Design*/
.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
}



/* Popup Design */
.myPopup{
    width: 450px;
    height: fit-content;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    padding:40px;
    padding-top: 60px;
    z-index: 1000;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
}

.myPopup .btn-container{
    display: flex;
    gap: 10px;
}
.myPopup .btn-container button{
    width: 50%;
    padding: 12px 0;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.myPopup .btn-container #btn1{
    background-color: #1e3a8a;
}
.myPopup .btn-container #btn2{
    background-color: rgb(171, 13, 45);    
}
.myPopup .myForm {
display: flex;
flex-direction: column;
padding-block:20px 0;

}

.myForm   h2{
    text-align: center;
    font-weight: 520;
}

.myForm   label{
    font-size: 18px;
    font-weight: 500;    
}
.myForm   input{
    font-size: 16px;
    padding: 12px;
    outline: none;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.7);
    margin-block:5px 20px;
}

.myForm  button:first-of-type{
margin-block:5px 15px ;
}
.myForm  button{
    padding: 12px 0;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
    background-color:#1e3a8a;
}

button{
    cursor: pointer;
}

.myPopup .myForm{
    display: none;
}

div.myPopup.show{
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
}

.myPopup .cross{
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 27px;
    cursor: pointer;
}
.myPopup .cross span{
    position: absolute;
    background-color: rgb(77, 76, 76);
    width: 100%;
    height: 2.5px;
}
.myPopup .cross span:first-of-type{
transform: rotate(45deg);
}
.myPopup .cross span:last-of-type{
    transform: rotate(-45deg);

}